@-webkit-keyframes spin { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes spin { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

[data-cid="n6"]{background-image:repeating-linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) calc(2.08333% - 1px), rgba(85, 85, 85, 0.05) calc(2.08333% - 1px), rgba(85, 85, 85, 0.05) 2.08333%, rgba(0, 0, 0, 0) 2.08333%, rgba(0, 0, 0, 0) 8.33333%)}
@media (max-width: 571px) {
[data-cid="n6"]{background-image:repeating-linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) calc(25% - 1px), rgba(85, 85, 85, 0.05) calc(25% - 1px), rgba(85, 85, 85, 0.05) 25%)}
}
[data-cid="n40"]::after{content:"";display:none;position:absolute;top:0px;right:0px;left:0px;height:0px;background-image:linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.05) 60%, rgba(0, 0, 0, 0) 100%)}
@media (max-width: 571px) {
[data-cid="n40"]::after{display:none}
}
@media (min-width: 572px) and (max-width: 1024px) {
[data-cid="n40"]::after{display:none}
}
@media (max-width: 571px) {
[data-cid="n159"]{background-image:repeating-linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) calc(25% - 1px), rgba(85, 85, 85, 0.05) calc(25% - 1px), rgba(85, 85, 85, 0.05) 25%)}
}
@media (min-width: 572px) and (max-width: 1024px) {
[data-cid="n159"]{background-image:repeating-linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) calc(2.08333% - 1px), rgba(85, 85, 85, 0.05) calc(2.08333% - 1px), rgba(85, 85, 85, 0.05) 2.08333%, rgba(0, 0, 0, 0) 2.08333%, rgba(0, 0, 0, 0) 8.33333%)}
}